*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #141414;
    height: 80px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}
.enlace{
    position: absolute;
    padding: 15px 50px;
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
    margin-right: 10px;
}
.giavavi{
    margin: 0; 
    font-size: 25px; 
    font-weight: bold;
    color: white;
}
nav ul{
    float: right;
    margin-right: 20px;
    transition: box shadow 0.3s ease-in-out
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    box-shadow: 0 2px rgb(250, 47, 47);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 9999;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(250, 47, 47);
    }
    #check:checked ~ ul{
        left:0;
    }

}
body {
    height: 100%;
    width: 100%;
}
.cabeza{
    text-align: center;
    display: flex;
    margin: 60px 40px;
    flex-direction: column;   
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
.titulo{
    font-size: xx-large;
    color: black;

}
.subtitulo{
    font-size: large;
    color: gray;
}




a{
    text-decoration: none;
    color: inherit;
}

.formulario{
    background-color: #979595;
    border-radius: 5%;
    width: 530px;
    height: 320px;
    border: 2px solid black;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.custom-alert {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    background-color: #a7a3a3;
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-family: 'Montserrat', sans-serif;
  }
.padre{
    display: flex;
    align-content: center;
    justify-content: center;
}
input{
width: 450px;
height: 43px;

font-family: 'Montserrat', sans-serif;
}

.boton{

text-align: center;
width: 70%; 
height: 40px;
background-color: rgb(5, 5, 5); 
color: white;
border-radius: 8px;
transition: background-color 0.3s,box-shadow 0.5s ease;
}

.boton:hover{
background-color: #515050;
box-shadow: 0 0 10px 3px rgb(155, 85, 85);
}

textarea{
width: 450px;
height: 70px;

font-family: 'Montserrat', sans-serif;
}


@media(max-width: 1280px){
    .formulario{
        width: 600px ;
    }
}
@media(max-width: 630px){
    .formulario{
        width: 400px ;
    }
    input{
        width: 350px;
    }
    textarea{
        width: 350px;
    }
    .padre{
        height: 400px;
    }
}


.futer{
    background-color: #141414;
    bottom: 0;
    width: 100%;
    height: 130px;
    text-align: center;
    font-size: medium;
    font-family: 'Exo 2', sans-serif;
    color: white;
    padding-top: 40px;
    float: bottom;
}