*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #141414;
    height: 80px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}
.enlace{
    position: absolute;
    padding: 15px 50px;
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
    margin-right: 10px;
}
.giavavi{
    margin: 0; 
    font-size: 25px; 
    font-weight: bold;
    color: white;
}
nav ul{
    float: right;
    margin-right: 20px;
    transition: box shadow 0.3s ease-in-out
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    box-shadow: 0 2px rgb(250, 47, 47);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 9999;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(250, 47, 47);
    }
    #check:checked ~ ul{
        left:0;
    }

}
body {
    height: 100%;
    width: 100%;
}
.cabeza{
    text-align: center;
    display: flex;
    margin: 60px 40px;
    flex-direction: column;   
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
.titulo{
    font-size: xx-large;
    color: black;

}
.subtitulo{
    font-size: large;
    color: gray;
}



a{
    text-decoration: none;
    color: inherit;
}



.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    align-items: center;


}
.padre{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.carta{
    width: 500px;
    height: 150px;
    display: flex;
    border: 1.5px solid rgb(185, 184, 184);
    transition: transform 0.3s ease;
    font-size: small;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    gap: 10px;
}
.carta:hover {
    transform: scale(1.05); 
    border: 1.5px solid rgb(9, 152, 126);
}
@media(max-width:530px){
    .carta {
        width: 450px;
    }
    .titulo{
        font-size: x-large;
    }
}
@media(max-width:480px){
    .carta {
        width: 380px;
    }
}

section img{
    width: 100px;
}

.titulo-carta{
    font-size: 18px;
    font-weight: 800;
}
.subtitulo-carta{
    font-size: 14px;
    color: #898b8d;
}

.futer{
    background-color: #141414;
    bottom: 0;
    width: 100%;
    height: 130px;
    text-align: center;
    font-size: medium;
    font-family: 'Exo 2', sans-serif;
    color: white;
    padding-top: 40px;
    float: bottom;
    margin-bottom: auto;
}