*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #141414;
    height: 80px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}
.enlace{
    position: absolute;
    padding: 15px 50px;
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
    margin-right: 10px;
}
.giavavi{
    margin: 0; 
    font-size: 25px; 
    font-weight: bold;
    color: white;
}
nav ul{
    float: right;
    margin-right: 20px;
    transition: box shadow 0.3s ease-in-out
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    box-shadow: 0 2px rgb(250, 47, 47);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 9999;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(250, 47, 47);
    }
    #check:checked ~ ul{
        left:0;
    }

}

@media (max-width: 830px){
    .titulo-img{
        color: black !important;
        font-size: 38px !important;
    }
    .rapha{
        background-image: none !important; 
        background-color: white;
        height: 700px !important;
    }
    .carta{
        border: 1.5px solid rgb(185, 184, 184);
    }
}
@media (max-width: 530px){
    .rapha{
        height: 1000px !important;
    }
    .titulo-img{
        font-size: 30px !important;
    }
}
body {
    height: 100%;
    width: 100%;
}
.cabeza{
    text-align: center;
    display: flex;
    margin: 60px 40px;
    flex-direction: column;   
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.titulo{
    font-size: xx-large;
    color: black;

}
.subtitulo{
    font-size: large;
    color: gray;
}

button{
    text-decoration: none;
    width: 250px;
    height: 50px;
    background-color: rgb(239, 98, 27);
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    border-radius: 8px;
    margin-top: 35px;
    transition: background-color 0.3s,transform 0.3s ease,box-shadow 0.5s ease;
    cursor: pointer;
}

button:hover{
    transform: scale(1.10); 
    background-color: red;
    box-shadow: 0 0 10px 3px rgb(250, 47, 47);
}

a{
    text-decoration: none;
    color: inherit;
}

.rapha {
    background-image: url('imagenes/negocio-exitoso-1200x685.jpg');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 450px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.titulo-img{
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 50px;
}

.contenedor{

    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center; 
    align-items: center;

}

.padre{
    padding-top: 20px;
    display: flex;
    justify-content: center;

}
.carta{
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    font-size: small;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    gap: 10px;
}
.carta:hover {
    transform: scale(1.05); 
}



.titulo-carta{
    font-size: 18px;
    font-weight: 800;
}
.subtitulo-carta{
    font-size: 14px;
    color: #898b8d;
}

.futer{
    background-color: #141414;
    bottom: 0;
    width: 100%;
    height: 130px;
    text-align: center;
    font-size: medium;
    font-family: 'Exo 2', sans-serif;
    color: white;
    padding-top: 40px;
    bottom: 0;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #141414;
    height: 80px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}
.enlace{
    position: absolute;
    padding: 15px 50px;
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
    margin-right: 10px;
}
.giavavi{
    margin: 0; 
    font-size: 25px; 
    font-weight: bold;
    color: white;
}
nav ul{
    float: right;
    margin-right: 20px;
    transition: box shadow 0.3s ease-in-out
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    box-shadow: 0 2px rgb(250, 47, 47);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(250, 47, 47);
    }
    #check:checked ~ ul{
        left:0;
    }

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.cabeza{
    text-align: center;
    display: flex;
    margin: 60px 40px;
    flex-direction: column;   
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
.titulo{
    font-size: xx-large;
    color: black;

}
.subtitulo{
    font-size: large;
    color: gray;
}

button{
    text-decoration: none;
    width: 250px;
    height: 50px;
    background-color: rgb(239, 98, 27);
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    border-radius: 8px;
    margin-top: 35px;
    transition: background-color 0.3s,transform 0.3s ease,box-shadow 0.5s ease;
    cursor: pointer;
}

button:hover{
    transform: scale(1.10); 
    background-color: red;
    box-shadow: 0 0 10px 3px rgb(250, 47, 47);
}

a{
    text-decoration: none;
    color: inherit;
}

.rapha {
    background-image: url('imagenes/negocio-exitoso-1200x685.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-position: center; /* Centra la imagen en el contenedor */
    width: 100%;
    height: 450px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.titulo-img{
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 50px;
}

.contenedor{

    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center; 
    align-items: center;

}
.padre{
    padding-top: 20px;
    display: flex;
    justify-content: center;

}
.carta{
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    font-size: small;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    gap: 10px;
}
.carta:hover {
    transform: scale(1.05); 
}



.titulo-carta{
    font-size: 18px;
    font-weight: 800;
}
.subtitulo-carta{
    font-size: 14px;
    color: #898b8d;
}

.futer{
    background-color: #141414;
    bottom: 0;
    width: 100%;
    height: 130px;
    text-align: center;
    font-size: medium;
    font-family: 'Exo 2', sans-serif;
    color: white;
    padding-top: 40px;
    bottom: 0;
    margin-top: auto;
}

